<footer class="footer">
  <div class="overlay">
    <div class="container">
      <div class="footer__main">
        <div class="footer__copyright">
          <p class="fs-5">&copy; <span class="date">March 2022</span></p>
        </div>
        <div class="social__media">
          <div class="social__media-linkedin">
            <a href="#">
              <span><i class="bi bi-linkedin"></i></span>
            </a>
          </div>
          <div class="social__media-facebook">
            <a href="#">
              <span> <i class="bi bi-facebook"></i> </span>
            </a>
          </div>
          <div class="social__media-twitter">
            <a href="#">
              <span><i class="bi bi-twitter"></i></span>
            </a>
          </div>
          <div class="social__media-instagram">
            <a href="#">
              <span><i class="bi bi-instagram"></i></span>
            </a>
          </div>
          <div class="social__media-instagram">
            <p class="fs-5">ForWEB</p>
          </div>
        </div>
      </div>
      <div class="footer__text fs-5">
        <p>Powered by ForWEB KNUST</p>
      </div>
    </div>
  </div>
</footer>
