{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img
        src="{% static 'media/images/logo.png' %}"
        alt="logo"
        width="75"
        height=""
        loading="lazy"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header nav-color">
        <a href="#">
          <img
            src="{% static 'media/images/logo.png' %}"
            alt="logo"
            width="70"
            height=""
            loading="lazy"
          />
        </a>

        <button
          type="button"
          class="btn-close text-reset btn-adjust"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body nav-color">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-0">
          <li class="nav-item mx-3 fs-5">
            <a
            {% if '/' == request.path %}
            class="nav-link active"
              aria-current="page"
              href="{% url 'index' %}"
              >Home</a
            {% else %}
            class="nav-link"
              aria-current="page"
              href="{% url 'index' %}"
              >Home</a
            {% endif %}
      
            >
          </li>
          <li class="nav-item mx-3 fs-5">
            <a 
            {% if 'about' in request.path %}
            class="nav-link active" aria-current="page" href="{% url 'about' %}"
              >About</a
            >
            {% else %}
            class="nav-link" aria-current="page" href="{% url 'about' %}"
              >About</a
            >
            {% endif %}
            
            
          </li>
          <li class="nav-item mx-3 fs-5">
            <a
              {% if 'forecasts' in request.path %}
              class="nav-link active" aria-current="page" href="{% url 'forecasts' %}"
              >Forecasts</a
            >
              {% else %}
              class="nav-link" aria-current="page" href="{% url 'forecasts' %}"
              >Forecasts</a
            >
              {% endif %}
           
          </li>
          <li class="nav-item mx-3 fs-5">
            <a
              {% if 'blog' in request.path %}
              class="nav-link active" aria-current="page" href="{% url 'blog' %}"
              >Blog</a
            >
              {% else %}
              class="nav-link" aria-current="page" href="{% url 'blog' %}"
              >Blog</a
            >
              {% endif %}
            
          </li>

          <li class="nav-item ms-3 fs-5">
            {% if 'contact-us' in request.path %}
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'contact-us' %}"
              >Contact</a
            >
            {% else %}
            <a
            class="nav-link"
            aria-current="page"
            href="{% url 'contact-us' %}"
            >Contact</a
          >
            {% endif %}
            
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
